body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
}

#game {
  width: 600px;
  margin: 50px auto;
}

#text {
  border: 2px solid #fff;
  padding: 20px;
  min-height: 120px;
  cursor: pointer;
}

#choices button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}
